.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Item {
  border: solid 1px black;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}
.NewItem {
  border: solid 1px black;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  background-color: pink;
}

.subButton {
  border-radius: 1em;
  width: 5em;
  background-color: blue;
  color: aliceblue;
  margin: 1rem;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.update {
  width: 5em;
  border-radius: 1em;
  background-color: green;
  color: aliceblue;
  margin: 0.5em;
}
.delete {
  width: 5em;
  border-radius: 1em;
  background-color: red;
  color: aliceblue;
  margin: 0.5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
